<h1>Student Show Page</h1>
<%= form_tag "/students/:id", method: "patch" do %>
 <input type="hidden" value="<%= @student["id"] %>" name="form_id">
  <div>
    <input type="text" value="<%= @student["first_name"] %>" name="form_first_name">
  </div>
    
  <div>
    <input type="text" value="<%= @student["last_name"] %>" name="form_last_name">
  </div>
    
  <div>
    <input type="text" value="<%= @student["email"] %>" name="form_email">
  </div>
    
  <div>
    <input type="text" value="<%= @student["phone_number"] %>" name="form_phone_number">
  </div>
    
  <div>
    <input type="text" value="<%= @student["short_bio"] %>" name="form_short_bio">
  </div>
    
  <div>
    <input type="text" value="<%= @student["linkedin_url"] %>" name="form_linkedin_url">
  </div>
    
  <div>
    <input type="text" value="<%= @student["twitter_handle"] %>" name="form_twitter_handle">
  </div>
    
  <div>
    <input type="text" value="<%= @student["personal_blog_website_url"] %>" name="form_personal_blog_website_url">
  </div>
    
  <div>
    <input type="text" value="<%= @student["online_resume"] %>" name="form_online_resume">
  </div>
    
  <div>
    <input type="text" value="<%= @student["github_url"] %>" name="form_github_url">
  </div>

  <div>
    <input type="text" value="<%= @student["photo"] %>" name="form_photo">
  </div>
  <input type="submit" value="Update">

  <% end %>