<h1>Student page</h1>
<div>
<%= @student[:first_name] %>
</div>
  
<div>
<%= @student[:last_name] %>
</div>
  
<div>
<%= @student[:email] %>
</div>
  
<div>
<%= @student[:phone_number] %>
</div>
  
<div>
<%= @student[:short_bio] %>
</div>
  
<div>
<%= @student[:linkedin_url] %>
</div>
  
<div>
<%= @student[:twitter_handle] %>
</div>
  
<div>
<%= @student[:personal_blog_website_url] %>
</div>
  
<div>
<%= @student[:online_resume] %>
</div>
  
<div>
<%= @student[:github_url] %>
</div>
  
<div>
<%= @student[:photo] %>
</div>